body{
    color: goldenrod;
    font-family: helvetica, arial, sans-serif;
    background-color: gray;
}

header{
    padding: 20px 35px;
    background-color: #024959
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color:#024959;
    margin: 0;
}

header a{
    color: goldenrod;
}